*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container{
  margin:0 auto;
  width: 1170px;
  height:100vh;
  border:1px solid black;
}
