<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- link css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- link google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <!-- link fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <!-- cdn vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>


  <title>Proj-html-vuejs</title>
</head>
<body>
  <div id="app">
    <!-- jumbotron -->
      <div id="jumbotron">
        <!-- header -->
        <div class="container">
          <header class="fixed">
            <div class="nav-left">
              <img src="img/medical_logo_2x_light.png" alt="">
            </div>
            <div class="container-nav-right">
              <div class="nav-right" v-for="(nav,index) in navBar" @click='aggiungiNav(index)'>
                <a href="#">{{nav.nome}}</a>
              </div>
              <div class="btn-jumbo">
                <button class="btn">make appointment</button>
               </div>
            </div>



          </header>
          <div class="caring">
            <span class="color-white">Caring</span> <span class="color-lightblue"> For Life</span>
            <p class="color-white">Kind words can be short and easy to speak, but their echoes are truly</p>
            <p class="color-white">endless. Avada Health focuses on you as if it was our own family.</p> <br>
            <button>learn more</button>
          </div>
      </div> <!--/container -->
    </div><!-- / jumbotron -->
    <!-- main -->
    <main>
      <div class="welcome">
        <div class="container-welcome">
          <div class="testo">
            <h2>Welcome to Avada Health</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</p>
          </div>
          <div class="same">
            <div class="testo">
              <img src="img/icon-1.png" alt="">
              <h4>SAME DAY APPOINTMENTS</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</p>
            </div>
          </div>
          <div class="world">
            <div class="testo">
              <img src="img/icon-2.png" alt="">
              <h4>WORLD CLASS FACILITIES</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</p>
            </div>
          </div>
          <div class="expert">
            <div class="testo">
              <img src="img/icon-3.png" alt="">
              <h4>EXPERT DOCTORS</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</p>
            </div>
          </div>
          <div class="complementary">
            <div class="testo">
              <img src="img/icon-4.png" alt="">
              <h4>COMPLEMENTARY</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</p>
            </div>
          </div>

        </div> <!-- /container-welcome -->
      </div>


      <div class="meet-doctors">
        <div class="container-doctors">
          <div class="testo">
            <img src="img/icon-5.png" alt="">
            <h2>MEET OUR DOCTORS</h2>
            <hr>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
          </div>

          <div class="immagini">
            <img src="img/doctor-1.jpg" alt="foto">
          </div>
          <div class="immagini">
            <img src="img/doctor-2.jpg" alt="foto">
          </div>
          <div class="immagini">
            <img src="img/doctor-3.jpg" alt="foto">
          </div>

          <div class="descrizione">
            <div class="nome">JON SNOW</div>
            <div class="professione">Anesthesiologist</div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              <div class="fonts">
                <i class="fab fa-facebook-square color-blue"></i>
                <i class="fab fa-twitter-square color-lightblue"></i>
                <i class="fab fa-instagram-square color-darkblue"></i>
              </div>
          </div>
          <div class="descrizione">
            <div class="nome">TYRION LANNISTER</div>
            <div class="professione">Cardiologist</div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              <div class="fonts">
                <i class="fab fa-facebook-square color-blue"></i>
                <i class="fab fa-twitter-square color-lightblue"></i>
                <i class="fab fa-instagram-square color-darkblue"></i>
              </div>
          </div>
          <div class="descrizione">
            <div class="nome">ARIA STARK</div>
            <div class="professione">Nurse pratictionair</div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            <div class="fonts">
              <i class="fab fa-facebook-square color-blue"></i>
              <i class="fab fa-twitter-square color-lightblue"></i>
              <i class="fab fa-instagram-square color-darkblue"></i>
            </div>
          </div>

        </div> <!-- /container-doctors -->
      </div> <!-- / meet-doctors -->

      <div class="container-our-services">
        <div class="our-services">
          <div class="testo-our-services">
            <img src="img/icon-6.png" alt="">
            <h2>OUR HEALTH SERVICES</h2>
            <hr>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
          </div>
        </div>
        <div class="container-immagini">
          <div class="rehabilitation">
            <div class="testo">
              <img src="img/icon-14.png" alt="">
              <h4>REHABILITATION CENTER</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
            </div>
          </div>
          <div class="dental">
            <div class="testo">
              <img src="img/icon-15.png" alt="">
              <h4>DENTAL IMPLANTS</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
            </div>
          </div>
          <div class="medicine">
            <div class="testo">
              <img src="img/icon-16.png" alt="">
              <h4>MEDICINE RESEARCH</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
            </div>
          </div>
          <div class="blood">
            <div class="testo">
              <img src="img/icon-11.png" alt="">
              <h4>BLOOD BANKS</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
            </div>
          </div>
          <div class="pharmaceutical">
            <div class="testo-title">
              <img src="img/icon-12.png" alt="">
              <h4>PHARMACEUTICAL ADVICE</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
            </div>
          </div>
          <div class="medical">
            <div class="testo">
              <img src="img/icon-13.png" alt="">
              <h4>MEDICAL CONSELING</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
            </div>
          </div>
        </div>

      </div> <!-- / container-our-service-->

      <div class="tour">
        <div class="testo-tour">
          <img src="img/icon-7.png" alt="">
          <h2>TOUR OUR FACILITIES</h2>
          <hr>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo <br> inventore veritatis et quasi architecto beatae</p>
          <img class="pb"src="img/play-icon.png" alt="">
        </div> <!-- /testo-tour-->

        <div class="learn-more">
          <div class="emergency bg-green">
            <div class="testo">
              <h4>Emergency Care</h4>
              <img src="" alt="">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
              <button class="bg-green">LEARN MORE</button>
            </div>
          </div>
          <div class="diagnostic bg-lightblue">
            <div class="testo">
              <h4>Expert Diagnostic</h4>
              <img src="" alt="">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
              <button class="bg-lightblue">LEARN MORE</button>
            </div>
          </div>
          <div class="superb bg-blue">
            <div class="testo">
              <h4>Superb Rehabilitation</h4>
              <img src="" alt="">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
              <button class="bg-blue">LEARN MORE</button>
            </div>
          </div>
        </div> <!-- /learn-more -->
      </div> <!-- / tour -->

      <div class="make-appointment">
        <div class="container-make-appointment">
          <div class="testo">
            <h2>Make An Appointment</h2>
            <hr>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
          </div> <!-- /testo -->
          <div class="data-name">
            <input type="text" placeholder="Name*">
            <input type="text"placeholder="Email*">
          </div>
          <div class="pippo">
            <div class="data-phone">
              <input type="text"placeholder="Phone Number*">
            </div>
            <div class="data-appointment">
              <i class="far fa-calendar-alt"></i>
              <input type="text"placeholder="Appointment data*">
            </div>
          </div>

          <div class="data-help">
            <input type="text" placeholder="How can we help?*">
          </div>

            <div class="btn-appointment">
              <button>make an appointment</button>
            </div> <!-- btn-appointment-->

        </div> <!-- /container-make-appointment-->
      </div> <!-- / make-appointment -->

      <div class="slider">

      </div>
    </main>

    <footer>
      <div class="container-footer">

        <div class="logo-footer">
          <div class="testo-footer">
            <img src="img/medical_logo_1x_dark.png" alt="">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
            <p>LEARN MORE ABOUT US</p>
            <div class="fonts-footer">
              <i class="fab fa-facebook-square color-blue"></i>
              <i class="fab fa-twitter-square color-lightblue"></i>
              <i class="fab fa-youtube-square color-red"></i>
              <i class="fab fa-instagram-square color-darkblue"></i>
            </div>
          </div>
        </div> <!-- / logo-footer -->

        <div class="contact">
          <div class="testo">
            <h4>CONTACT INFORMATION</h4>
            <hr>
            <div class="container-contact">
            <div class="fonts-contact">
              <ul>
                <li><i class="fas fa-map-marker-alt"></i></li>
                <li><i class="fas fa-phone"></i></li>
              </ul>
            </div>
            <div class="testo.contacts">
              <ul>
                <li>{{footerContacts.indirizzo}}</li>
                <li>{{footerContacts.telefono}}</li>
              </ul>
            </div>
          </div>    <!-- /container contacts -->
        </div> <!-- /testo -->
      </div> <!-- / contact -->

        <div class="departments">
          <div class="testo">
            <h4>MEDICAL DEPARTMENTS</h4>
            <hr>
            <div v-for="(department, index) in footerDepartments" @click='aggiungiDepartments'>
              <ul>
                <li>
                  <i class="far fa-arrow-alt-circle-right"></i>{{department}}
                </li>
              </ul>
            </div>
            <button>VIEW OUR DEPARTMENTS</button>
          </div> <!-- testo -->
        </div> <!-- / departments -->
        <div class="copiright">
          <small>© Copyright 2012 - 2021   |   Avada Theme by Theme Fusion   |   All Rights Reserved   |   Powered by WordPress</small>
        </div>
      </div><!-- /container-footer -->
    </footer>








  </div> <!-- /id app -->
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
